.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  width: 80px;
  height: 40px;
}

.list {
  display: flex;
  list-style: none;
  position: absolute;
  top: 0;
  right: 0;
}

.item {
  width: 40px;
  height: 40px;
  margin-left: 1.5rem;
  color: black;
  font-size: 1.1rem;
  padding: 0.5rem;
}
.header {
  height: 100vh;
}
#search-box__menu-icon {
  display: flex;
  list-style: none;
  flex-direction: row; 
  justify-content: center; 

  height: 24px;
}
.header-title {
  text-align: left;
}
.header-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  text-align: center;
  padding: 1rem 1.3rem;
}
#list-of-video-features {
  display: flex;
  list-style: none;
}
.video-options {
  position: absolute;
  left: 73%;
  transform: translate(-50%, -50%);
}
.icon-buttons {
  padding-top: 7px;
  width: 20px;
  height: 20px;
}
icon-buttons-svg {
margin-top: 10px;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}
.user__avatar {
  width: 20%;
}
.user__name {
  width: 30%;
}
.user__avatar-img {
  border-radius: 50%;
}
.related-videos {
    text-align: right;
    margin-top: 80px;
}
.embedded-videos{
 list-style: none;
}
